// Colors
$color-neutral-0: #ffffff;
$color-neutral-100: #f8f9fa;
$color-neutral-100: #f8f9fa;
$color-neutral-200: #e9ecef;
$color-neutral-300: #dee2e6;
$color-neutral-400: #ced4da;
$color-neutral-500: #adb5bd;
$color-neutral-600: #6c757d;
$color-neutral-700: #495057;
$color-neutral-800: #343a40;
$color-neutral-900: #000000;